<app-header>
  <p content>Edytowanie kontaktow</p>
</app-header>

<form [formGroup]="contactForm">
  <div class="row form-group">
    <div class="col-sm-12 col-xl-4">
      <label>Imię</label>
      <input [formControlName]="'firstName'" type="text" class="form-control" placeholder="Imię">

      <!-- <p *ngIf="!contactForm.get('firstName').valid && contactForm.get('firstName').touched" class="error">Uzupełnij to pole</p> -->
      <p class="error" *ngIf="!firstNamevalid">To pole musi sie zaczyna od dużej litery i musi zawierac od 3 do 15 liter</p>
    </div>
    <div class="col-sm-12 col-xl-4">
      <label>Nazwisko</label>
      <input [formControlName]="'surname'" type="text" class="form-control" placeholder="Nazwisko" autofocus>
      <!-- <p *ngIf="!contactForm.get('surname').valid && contactForm.get('surname').touched" class="error">Uzupełnij to pole</p> -->
      <p class="error" *ngIf="!surnamevalid">To pole musi sie zaczyna od dużej litery i musi zawierac od 3 do 15 liter</p>

    </div>

    <div class="col-sm-12 col-xl-4">
      <label>Numer telefonu</label>
      <input [formControlName]="'phoneNumber'" type="text" class="form-control" placeholder="Numer telefonu">
      <!-- <p *ngIf="!contactForm.get('phoneNumber').valid && contactForm.get('phoneNumber').touched" class="error">Uzupełnij to pole</p> -->
      <p class="error" *ngIf="!phoneNumbervalid">To pole musi sie zaczyna od dużej litery i musi zawierac od 3 do 15 liter</p>

    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <button class="btn btn-sm btn-info" (click)="updateContact()">Zapisz</button>
            <button class="btn btn-sm btn-dark" [routerLink]="['/contacts']">Wstecz</button>

      <button class="btn btn-sm btn-danger" (click)="contactForm.reset()">Wyczyśc</button>
    </div>
  </div>
</form>
<pre>
  {{ contactForm.value | json }}
</pre>

<pre>
  {{ contactForm.status | json }}
</pre>

<pre>Nazwisko: {{ contactForm.get('surname').valid }}</pre>
<pre>Imię: {{ contactForm.get('firstName').valid }}</pre>
<pre>Telefon: {{ contactForm.get('phoneNumber').valid }}</pre>
